<script id="templateMensageOther" type="x-template">  
<div class="flex mb-2" id="theirmessages">
    <div class="rounded py-2 px-3" style="background-color: #F2F2F2">
        <p class="text-sm text-purple message.name" id="name">
            Tom Cruise
        </p>
        <p class="text-sm mt-1 message.text" id="text">
            Hi! I can't wait to see my movie
        </p>
        <p class="text-right text-xs text-grey-dark mt-1 message.time" id="time">
            12:45 pm
        </p>
    </div>
</div>
</script>  