<script id="templateMensageMe" type="x-template">    
<div class="flex justify-end mb-2" id="mymessages">
    <div class="rounded py-2 px-3" style="background-color: #E2F7CB">
        <p class="text-sm mt-1 message.text" id="text">
            Hi guys.
        </p>
        <p class="text-right text-xs text-grey-dark mt-1 message.time" id="time">
            12:45 pm
        </p>
    </div>
</div>
</script>