<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#0ed3cf">
    <meta name="msapplication-TileColor" content="#0ed3cf">
    <meta name="theme-color" content="#0ed3cf">

    <meta property="og:image" content="http://tailwindcomponents.com/storage/826/temp47050.png?v=2022-12-12 16:01:07" />
    <meta property="og:image:width" content="1280" />
    <meta property="og:image:height" content="640" />
    <meta property="og:image:type" content="image/png" />

    <meta property="og:url" content="https://tailwindcomponents.com/component/whatsapp-web-clone/landing" />
    <meta property="og:title" content="WhatsApp Web Clone by asantibanez" />
    <meta property="og:description" content="WhatsApp Web Clone using only Tailwind Css utilities and Inline Styles for Specific Brand Colors (updated myself avatar)" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@TwComponents" />
    <meta name="twitter:title" content="WhatsApp Web Clone by asantibanez" />
    <meta name="twitter:description" content="WhatsApp Web Clone using only Tailwind Css utilities and Inline Styles for Specific Brand Colors (updated myself avatar)" />
    <meta name="twitter:image" content="http://tailwindcomponents.com/storage/826/temp47050.png?v=2022-12-12 16:01:07" />
    <title>WhatsApp Web</title>

            <link href="https://unpkg.com/tailwindcss@0.3.0/dist/tailwind.min.css" rel="stylesheet">
    </head>
<body class="bg-gray-200">
    <div>
        <div class="w-full h-32" style="background-color: #449388"></div>

        <div class="container mx-auto" style="margin-top: -128px;">
            <div class="py-6 h-screen">
                <div class="flex border bg-grey-lighter border-grey rounded shadow-lg h-full">
{% block body %}{%endblock %}

                </div>
            </div>
    </div>
<script type="text/javascript" src="{{ asset('js/jquery.min.js') }}"></script>
<!-- Plugins -->
<script type="text/javascript" src="{{ asset('js/jquery.easing.min.js') }}"></script>
<script type="text/javascript" src="{{ asset('js/script.js') }}"></script>
</body>
</html>
